@font-face {
  font-family: "MPLUSRounded1c-Regular";
  src: url("@/assets/font/MPLUSRounded1c-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MPLUSRounded1c-Medium";
  src: url("@/assets/font/MPLUSRounded1c-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ShipporiMincho-Medium";
  src: url("@/assets/font/ShipporiMincho-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ShipporiMincho-Bold";
  src: url("@/assets/font/ShipporiMincho-Bold.ttf") format("truetype");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: "MPLUSRounded1c-Regular";
  font-size: 16px;
  line-height: 1.8;
  color: #1C2121;
  background-image: url("@/assets/img/back.png");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: "ShipporiMincho-Bold";
  font-size: 64px;
  text-shadow: 4px 4px 8px #F4BAAA;
  text-align: center;
  margin: 32px auto;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

input {
  font-family: "MPLUSRounded1c-Regular";
  font-size: 16px;
  text-indent: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}